// $maxWidth: 1440px;

// @mixin adaptive-prop($pcProp, $mobProp) {
//   $addProp: $pcProp - $mobProp;
//   $addMobProp: $addProp + $addProp * 0.7;

//   @media (max-width: 767px) {
//     font-size: calc(
//       #{$mobProp + px} + #{$addMobProp} * ((100vw - 320px) / #{$maxWidth})
//     );
//   }

//   @media (min-width: 767px) {
//     font-size: calc(#{$mobProp + px} + #{$addProp} * (100vw / #{$maxWidth}));
//   }
// }

body.scroll-lock {
  overflow-y: hidden;
  & .main,
  & .header {
    filter: grayscale(87%) blur(6px) opacity(49%);
    -webkit-filter: grayscale(87%) blur(6px) opacity(49%);
    -moz-filter: grayscale(87%) blur(6px) opacity(49%);
    transition: 0.3s ease-in-out;
  }
}

.header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #fff;
}

.icon {
  width: 20px;
}

.button-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ff3e79;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.1);
    box-shadow: 3px 11px 21px 2px rgba(92, 5, 32, 0.2);
  }
}

.header__burger-button {
}

.header__phone-button {
  display: none;
}

.header__message-button {
  display: none;
}

.header__profile-button {
  display: none;
}

.logo {
  & img {
    width: 96.5px;
  }
}

.before-tool {
  width: 2px;
  height: 32px;
  background: #eaeaea;
  border-radius: 1px;
  &.first {
    display: none;
  }
  &.third {
    display: none;
  }
}

.header__tools-button {
}

.header__checkstatus-button {
}

@media (min-width: 360px) {
  .header__profile-button {
    display: block;
  }
}

@media (min-width: 400px) {
  .before-tool.second {
    margin-right: 40px;
  }
}

@media (min-width: 440px) {
  .header__message-button {
    display: block;
  }
  .before-tool.second {
    margin-right: 60px;
  }
}

@media (min-width: 480px) {
  .header__phone-button {
    display: block;
  }
  .before-tool.first {
    display: block;
  }
  .before-tool.third {
    display: block;
  }
  .before-tool.second {
    display: none;
  }
  .header__logo {
    margin-right: 40px;
  }
}

@media (min-width: 550px) {
  .header__logo {
    margin-right: 100px;
  }
}

@media (min-width: 650px) {
  .header__logo {
    margin-right: 200px;
  }
}

@media (min-width: 768px) {
  .before-tool.second {
    display: none;
  }
  .before-tool.first {
    display: block;
  }
  .header__logo {
    margin-right: 236px;
  }
  .header__phone-button {
    display: block;
  }

  .header__message-button {
    display: block;
  }

  .header__profile-button {
    display: block;
  }
}

@media (min-width: 1000px) {
  .header {
    display: none;
  }
}
