$white: #fff;
$almost-white: #eaeaea;
$light-grey: #f8f8f8;
$another-grey: #b5b6bc;
$light-azure: #b8ffec;
$azure: #41f6d7;
$grey: #7e7e82;
$black: #1b1c21;
$pink: #ff3e79;

.main {
  position: relative;
  top: 88px;
  left: 0;
  background: $light-grey;
  height: 100%;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
}
.main__container {
  padding: 0 16px;
}
.main__title {
  font-family: 'TTLakesBold';
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: $black;
  &::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 4px;
    left: 0px;
    top: 24px;
    border-radius: 0px 10px 10px 0;
    background: $azure;
  }
}
.main__function {
  display: none;
}
.nav-list {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 16px;
  overflow-y: hidden;
  flex-wrap: nowrap;
  justify-content: space-between;
  &::-webkit-scrollbar {
    display: none;
  }
  .nav-list__item {
    display: block;
    padding: 6px 14px;
    white-space: nowrap;
    font-family: 'TTLakesMedium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $grey;
    border: 3px solid transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover {
      border: 3px solid $light-azure;
      border-radius: 6px;
    }
  }
}

.info {
  padding: 0 16px;
  margin-top: 24px;
}

.info__text {
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: $black;
}
.info__more-text {
  display: inline;
}

.hidden {
  display: none;
}
.open-button {
  margin-top: 16px;
  display: flex;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $black;
  background: $light-grey;
}

.close-button {
  margin-top: 16px;
  display: flex;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $black;
  background: $light-grey;
  & .dropdown-icon {
    transform: rotate(-180deg);
  }
}

.dropdown-icon {
  position: relative;
  top: 6px;
  right: 16px;
  width: 8px;
  margin-left: 24px;
}

.main__image {
  margin-top: 16px;
  & img {
    width: 100%;
  }
}

.main__subtitle {
  font-family: 'TTLakesRegular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  margin-top: 16px;
  padding: 16px;
  color: $grey;
  background: linear-gradient(270deg, $light-grey 0%, $white 98.61%);
  border-radius: 5px;
}

.main__text {
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $black;
}
.main__get-offer {
  display: block;
  margin-top: 16px;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $black;
  & .dropdown-pink {
    width: 6px;
    position: relative;
    top: 8px;
    left: 4px;
  }
}

@media (min-width: 768px) {
  .main__container {
    padding: 0 24px;
  }
  .main__flex-box {
    padding: 0 24px;
    display: flex;
    gap: 30px;
  }
  .info {
    padding: 0;
    flex: 0 1 50%;
  }
  .main__image {
    flex: 0 0 50%;
    & img {
      border-radius: 5px;
    }
  }
  .main__text {
    margin-top: 24px;
  }
}

@media (min-width: 1000px) {
  .main {
    left: 320px;
    max-width: calc(100vw - 320px);
    top: 0;
    max-height: 100%;
  }
  .main__container .main__flex-box {
    padding: 0;
    display: flex;
    justify-content: space-between;
    & span {
      font-family: 'TTLakesMedium';
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      letter-spacing: -0.2px;
      color: $black;
      margin-left: 24px;
    }
  }
  .main__function {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .main__title {
  }
  .main__tools-button {
  }
  .main__checkstatus-button {
  }
}

@media (min-width: 1350px) {
  .main__container {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .main {
    left: 320px;
    max-width: 1120px;
    top: 0;
    max-height: 100%;
  }
}
