body {
  height: 100%;
  overflow-x: hidden;
}

.slider-logo {
}

.slider {
  margin-top: 16px;
}

.swiper-container {
}

.slider__wrapper {
}

.swiper-wrapper {
}

.slider-logo .slider__slide {
  height: 72px;
  width: 224px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  &.hide {
    display: flex;
  }
}

.slider-type .slider__slide {
  height: 160px;
  width: 240px;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 16px;
}

.slider-price .slider__slide {
  height: 200px;
  width: 260px;
  border-radius: 6px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  & .grey-subtitle {
    color: #7e7e82;
    mix-blend-mode: normal;
    opacity: 0.72;
  }
}

.swiper-slide {
}

.slider__image p {
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: #1b1c21;
}

.lenovo-logo {
  height: 32px;
}

.samsung-logo {
  height: 38px;
}

.apple-logo {
  height: 44px;
}

.bosch-logo {
  height: 29px;
}

.hp-logo {
  height: 52px;
}

.acer-logo {
  height: 24px;
}

.viewsonic-logo {
  height: 21px;
}

.sony-logo {
  height: 26px;
}

.slider__button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid #ff3e79;
  background-color: #fff;
  & .dropdown-pink {
    width: 8px;
  }
}

.long-button {
  height: 32px;
  width: 119px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ff3e79;
  font-family: 'TTLakesBold';
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 12px;
  transition: all 0.3s ease 0s;
  & .dropdown-white {
    width: 8px;
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: 3px 11px 21px 2px rgba(92, 5, 32, 0.2);
  }
}

.slider__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.slider-type .slider__button {
  align-self: flex-end;
}

.swiper-button-next {
}

.swiper-button-prev {
}

.swiper-pagination {
  display: block;
  position: relative;
  margin-top: 22px;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: #b5b6bc;
}

.hidden {
  display: none;
}

.slider-logo__open-button {
  display: none;
}
.slider-type__open-button {
  display: none;
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
  .swiper-container {
    display: flex;
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  .slider-logo .slider__slide.hide {
    display: none;
  }
  .slider-logo__open-button {
    display: flex;
  }

  .slider-type .slider__slide.hide {
    display: none;
  }
  .slider-type .slider__slide {
    width: 224px;
  }
  .slider-type__open-button {
    display: flex;
  }

  .slider-price .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0;
    overflow: hidden;
    border-radius: 6px;
  }
  .slider-price .slider__slide {
    height: 64px;
    width: 100%;
    background: #ffffff;
    padding: 24px 16px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    & .grey-subtitle {
      display: none;
    }
    & .slider__service {
      display: flex;
      align-items: center;
      flex: 3;
    }
    & .slider__price {
      display: flex;
      align-items: center;
      flex: 1;
    }
    &:first-child::after {
      display: none;
    }
    &::after {
      content: '';
      width: calc(100% - 32px);
      height: 1px;
      border-bottom: 1px solid #eaeaea;
      position: absolute;
      top: 0;
      left: 16px;
    }
    .slider__flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 2.5;
      & .slider__time {
        display: flex;
        align-items: center;
      }
    }
  }
  .hidden {
    display: none;
  }
}

@media (min-width: 1000px) {
  .swiper-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
  }
}

@media (min-width: 1350px) {
  .swiper-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .slider-type .slider__slide.hide.show {
    display: flex;
  }
  .slider-logo .slider__slide.hide.show {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .swiper-wrapper {
    gap: 32px;
  }
  .slider-logo .slider__slide {
    width: 240px;
  }
  .slider-type .slider__slide {
    width: 240px;
  }
}
